@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

.bold{
    font-weight: 600;
}

.header nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 30px 0px;
    font-family: 'Rubik', sans-serif;
}

.header figure{
    display: flex;
    align-items: center;
}

.header .image-logo{
    width: 148px;
    height: 36px;
}

.header ol{
    display: flex;
    align-items: center;
    list-style: none;
}

.header li{
    padding-right: 40px;
    font-size: 16px;
    color: #4F5665;
}

.header .sign{
    display: flex;
    align-items: center;

}

.header .sign a{
    text-decoration: none;
}

.header .sign .in{
    padding-right: 20px;
    color: #0B132A;
}

.header .sign .up{
    color: #F53855;
    border: 1px solid #F53855;
    border-radius: 50px;
    padding: 13px 45px;
}

.header-info{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.header-info .add{
    border: 1px solid black;    
}

.header-info .add .quote{
    font-size: 50px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    color: #0B132A;
}

.header-info .add .quote strong{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    line-height: 70px;
}

.header-info .add .advertise{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    color: #4f5665;
}
