@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.bold {
  font-weight: 600;
}

.header nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 30px 0px;
  font-family: "Rubik", sans-serif;
}

.header figure {
  display: flex;
  align-items: center;
}

.header .image-logo {
  width: 148px;
  height: 36px;
}

.header ol {
  display: flex;
  align-items: center;
  list-style: none;
}

.header li {
  padding-right: 40px;
  font-size: 16px;
  color: #4f5665;
}

.header .sign {
  display: flex;
  align-items: center;
}

.header .sign a {
  text-decoration: none;
}

.header .sign .in {
  padding-right: 20px;
  color: #0b132a;
}

.header .sign .up {
  color: #f53855;
  border: 1px solid #f53855;
  border-radius: 50px;
  padding: 13px 45px;
}

.header-info {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 103px;
}

.header-info .add .quote {
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
  margin: 0;
}

.header-info .add strong {
  font-weight: 700;
}

.header-info .add .advertise {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-top: 20px;
  margin-bottom: 50px;
}

.header__button {
  text-decoration: none;
  padding: 17px 75px;
  background-color: #f53838;
  color: #fff;
  border-radius: 10px;
}

.header__button:hover {
  background-color: #ffecec;
}

.header-info .draw figure {
  width: 612px;
}

.header .rectangle {
  display: flex;
  justify-content: space-around;
  width: 1100px;
  height: 100px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.header .rectangle .position {
  display: flex;
  align-items: center;
}

.rectangle__icons {
  display: flex;
  width: 55px;
  height: 55px;
  border-radius: 30px;
  background-color: #ffecec;
  justify-content: center;
  align-items: center;
}

.rectangle__icons span {
  font-size: 24px;
  color: #f53838;
}

.rectangle .position p {
  margin: 0;
  margin-left: 15px;
}

.header .advantages {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 90px;
}

.advantages .draw figure {
  width: 612px;
}

.advantages .offer {
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
}

.advantages .resume {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.advantages ul {
  list-style: url("../images/check_green.svg");
  margin-left: 25px;
}

.advantages li {
  margin: 17px 0px;
}

.plan {
  background-color: #f8f8f8;
}

.plan-message {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.plan-message__h3 {
  font-size: 35px;
  color: #0b132a;
}

.plan-message__p {
  font-weight: 400;
  font-size: 16px;
  color: #4f5665;
  margin-top: 20px;
}

.promo {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.promo-option {
  width: 330px;
  height: 760px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-option__figure {
  margin-top: 79px;
}

.promo-option__p {
  margin-top: 30px;
  font-size: 18px;
  color: #0b132a;
  text-transform: capitalize;
}

.promo-option__ol {
  margin-top: 30px;
  list-style: url("../images/vector.png");
}

.promo-option__li {
  font-size: 14px;
  color: #4f5665;
  line-height: 30px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.promo-option__p-price {
  margin-top: auto;
  font-size: 25px;
  color: #0b132a;
  font-weight: 500;
}

.promo-option__small {
  font-weight: 400;
  color: #4f5665;
}

.promo-option__a {
  margin-top: 20px;
  margin-bottom: 50px;
  text-decoration: none;
  color: #f53838;
  font-size: 16px;
  font-weight: 700;
  padding: 13px 62px;
  background-color: #fff;
  border: 2px solid #f53838;
  border-radius: 50px;
}
/* TODO: hover aplicarlo con el ancla a al mismo tiempo que 
los bordes */
.promo-option:hover {
  border: 2px solid #f53838;
}

.world {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.world__h3 {
  font-size: 35px;
  color: #0b132a;
  line-height: 50px;
  text-align: center;
  line-height: 50px;
}

.world__p {
  color: #4f5665;
  text-align: center;
  line-height: 30px;
  margin-top: 20px;
}

.world__figure {
  margin-top: 155px;
}

.customer {
  background-color: #e5e5e5;
}

.customer__h3 {
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  margin-bottom: 20px;
}

.customer__p {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.customer-container {
  display: flex;
  justify-content: space-evenly;
}

.customer-container-information {
  width: 400px;
  height: 230px;
  border-radius: 10px;
  background-color: #fff;
}

.customer-container-information:hover {
  border: 2px solid #f53838;
}

.customer-container-information-top {
  display: flex;
}

.customer-container-information-top__img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 30px 0 0 30px;
}

.customer-container-information-top__p {
  margin: 30px 0 auto 20px;
  line-height: 25px;
  color: #4f5665;
  font-size: 14px;
}

.customer-container-information-top__p strong {
  font-size: 18px;
  color: #0b132a;
}

.customer-container-information-top__p-opinion {
  font-size: 16px;
  color: #0b132a;
  margin: 30px 0 0 auto;
}

.customer-container-information-bottom__p {
  margin: 40px 30px 0 30px;
  font-size: 16px;
  color: #0b132a;
  font-weight: 400;
}

.customer-suscribe {
  width: 1140px;
  height: 233px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.customer-suscribe__p {
  margin: 58px 0 0 70px;
}

.customer-suscribe__p strong {
  font-size: 35px;
  line-height: 45px;
  color: #0b132a;
}

.customer-suscribe__p small {
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.customer-suscribe__a {
  text-decoration: none;
  margin: 104px 135px;
}

.customer-suscribe__a span {
  padding: 13px 62px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #f53838;
}

.footer{
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-around;
    padding-top: 75px;
    margin-bottom: 50px;
}

.footer-information__img{
    margin-top: 26px;
    margin-bottom: 26px;
}

.footer-information__p{
    font-size: 16px;
    line-height: 30px;
    color: #4f5665;
    margin-bottom: 30px;
}

.footer-information__copyright{
    color: #AFB5C0;
    font-size: 16px;
    font-weight: 400;
}

.footer-product__strong{
    font-size: 18px;
    color: #0b132a;
}

.footer-product__ul{
    list-style: none;
    margin-top: 20px;
}

.footer-product__li{
    text-transform: capitalize;
    color: #4f5665;
    font-size: 16px;
    margin-bottom: 10px;
}