@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

.bold{
    font-weight: 600;
}

.header nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 30px 0px;
    font-family: 'Rubik', sans-serif;
}

.header figure{
    display: flex;
    align-items: center;
}

.header .image-logo{
    width: 148px;
    height: 36px;
}

.header ol{
    display: flex;
    align-items: center;
    list-style: none;
}

.header li{
    padding-right: 40px;
    font-size: 16px;
    color: #4F5665;
}

.header .sign{
    display: flex;
    align-items: center;

}

.header .sign a{
    text-decoration: none;
}

.header .sign .in{
    padding-right: 20px;
    color: #0B132A;
}

.header .sign .up{
    color: #F53855;
    border: 1px solid #F53855;
    border-radius: 50px;
    padding: 13px 45px;
}

.header-info{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

.header-info .add .quote{
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
    margin-top: 15px;
}

.header-info .add strong{
    font-weight: 700;
}

.header-info .add .advertise{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-top: 20px;
    padding-bottom: 80px;
}

.header-info .add a{
    text-decoration: none;
    padding: 17px 75px;
    background-color: #F53838;
    color: #FFF;
    border-radius: 10px;
}

.header-info .draw figure{
    width: 612px;
}

.header .rectangle{
    display: flex;
    justify-content: space-around;
    width: 1100px;
    height: 100px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.header .rectangle .position{
    display: flex;
    align-items: center;
}

.header .rectangle .material-icons{
    color: #FFECEC;
    font-size: 40px;
    background-color: #F53838;
    margin-right: 20px;
    border-radius: 80px;
}

.header .advantages{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 90px;
}

.advantages .draw figure{
    width: 612px;
}

.advantages .offer{
    text-transform: capitalize;
    margin-top: 60px;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.advantages .resume{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.advantages ul{
    list-style: url("../images/check_green.svg");
}

.advantages li{
    margin: 17px 0px;
}

.plan{
    background-color: #f8f8f8;
}

.plan .message{
    width: 50%;
    margin: 0px auto 0px auto;
    text-align: center;
}

.plan .message h3{
    padding-top: 70px;
    font-size: 35px;
    color: #0B132A;
    margin-bottom: 20px;
}

.plan .message p{
    font-size: 16px;
    color: #4F5665;
    line-height: 30px;
    font-weight: 400;
}

.plan .promos{
    display: flex;
    justify-content: space-around;
}

.plan .promos .promo1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #dddddd;
    background-color: #FFF;
    border-radius: 10px;
    width: 330px;
    height: 760px;
    text-transform: capitalize;
}

.plan .promos .promo1 figure{
    padding-top: 70px;
}

.promos p{
    font-weight: 500;
    font-size: 30px;
    color: #0B132A;
    padding-top: 35px;
}

.promos .promo1 ol{
    padding-top: 40px;
    padding-left: 28px;
    line-height: 40px;
    list-style: url("../images/vector.png");
}

.promos .promo1 .price{
    font-size: 25px;
    padding-top: 160px;
}

.promos .promo1 .price1{
    font-size: 25px;
    padding-top: 120px;
}

.promos a{
    padding-top: 33px;
    text-decoration: none;
    color: #F53838;
    background: #FFF;
    border: 2px solid #F53838;
    padding: 10px 62px;
    border-radius: 50px;
    font-weight: 700;
}

.plan .promos .promoP{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #F53838;
    background-color: #FFF;
    border-radius: 10px;
    width: 330px;
    height: 760px;
    text-transform: capitalize;
}

.plan .promos .promoP figure{
    padding-top: 70px;
}

.plan .promos .promoP ol{
    padding-top: 40px;
    padding-left: 28px;
    line-height: 40px;
    list-style: url("../images/vector.png");
}

.plan .promos .promoP .price{
    font-weight: 500;
    font-size: 25px;
    padding-top: 80px;
}

.plan .promos .promoP a{
    padding-top: 33px;
    text-decoration: none;
    color: #FFF;
    background: #F53838;
    padding: 10px 62px;
    border-radius: 50px;
    font-weight: 700;
}

.world{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h3{
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    margin-top: 150px;
}

p{
    margin-top: 20px;
    margin-bottom: 155px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
}

.world .sponsor-fig .sponsor-img{
    height: 500px;
}

.customer{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.customer .customer-square{
    border: 2px solid #F53838;
    border-radius: 10px;
    width: 400px;
    height: 230px;
}

.customer .customer-square .part-A{
    height: 50%;
    display: flex;
}

.customer-square .part-A img{
    height: 50px;
    border-radius: 50px;
    float: left;
    margin: 30px 10px 0 30px;
}

.customer-square .part-A p{
    margin: 0;
    padding: 30px 0 0 0;
    text-align: left;
    line-height: 25px;
}

.customer-square .part-A .opinion{
    margin: 0;
    padding: 40px 0px 0px 110px ;
    text-align: right;
}

.customer-square .part-B {
    height: 50%;
} 

.customer-square .part-B p{
    font-size: 16px;
    line-height: 30px;
    margin: 0;
}